<div class="container">
    <h2>Lista de Bodegas</h2>
    <div *ngIf="modoEdicion">
      <h3>{{ bodegaActual.bodegaID ? 'Editar Bodega' : 'Agregar Bodega' }}</h3>
      <form (ngSubmit)="guardarBodega()">
        <input type="text" [(ngModel)]="bodegaActual.nombre" name="nombre" placeholder="Nombre" required>
        <input type="text" [(ngModel)]="bodegaActual.ubicacion" name="ubicacion" placeholder="Ubicación" required>
        <input type="number" [(ngModel)]="bodegaActual.capacidad" name="capacidad" placeholder="Capacidad" required>
        <button type="submit">Guardar</button>
        <button type="button" (click)="cancelarEdicion()">Cancelar</button>
      </form>
    </div>
    <button *ngIf="!modoEdicion" (click)="iniciarEdicion(nuevaBodega())">Agregar Bodega</button>
 
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Ubicación</th>
          <th>Capacidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bodega of bodegas">
          <td>{{ bodega.nombre }}</td>
          <td>{{ bodega.ubicacion }}</td>
          <td>{{ bodega.capacidad }}</td>
          <td>
            <button (click)="iniciarEdicion(bodega)">Editar</button>
            <button (click)="eliminarBodega(bodega.bodegaID)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  