<div class="container">
  <h2>Envíos Marítimos</h2>

  <!-- Botón para agregar nuevo envío -->
  <button *ngIf="!modoEdicion" (click)="seleccionarEnvioMaritimo(resetEnvioMaritimo())" class="add-btn">Agregar Nuevo Envío</button>

  <!-- Formulario de Edición/Creación -->
  <div *ngIf="modoEdicion" class="form">
    <h3>{{ envioMaritimoActual.envioMaritimoID ? 'Editar Envío Marítimo' : 'Nuevo Envío Marítimo' }}</h3>
    <form (ngSubmit)="guardarEnvioMaritimo()">
      <div>
        <input type="text" [(ngModel)]="envioMaritimoActual.numeroGuia" name="numeroGuia" placeholder="Número de Guía" required>
        <!-- Añade aquí más campos según sea necesario, con el mismo estilo de input -->
      </div>
      <button type="submit" class="save-btn">Guardar</button>
      <button type="button" (click)="cancelarEdicion()" class="cancel-btn">Cancelar</button>
    </form>
  </div>

  <!-- Tabla de envíos marítimos -->
  <table *ngIf="enviosMaritimos.length > 0">
    <thead>
      <tr>
        <th>Número de Guía</th>
        <!-- Añade aquí más cabeceras de columna según sea necesario -->
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let envio of enviosMaritimos">
        <td>{{ envio.numeroGuia }}</td>
        <!-- Añade aquí más datos de cada envío según sea necesario -->
        <td>
          <button class="edit-btn" (click)="seleccionarEnvioMaritimo(envio)">Editar</button>
          <button class="delete-btn" (click)="eliminarEnvioMaritimo(envio.envioMaritimoID)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="enviosMaritimos.length === 0">No hay envíos marítimos registrados.</p>
</div>
